// colors
//principal colors
$s-blue:#8bacda;
$cyan:#00fff7;
//neutral colors
$vd-blue-1:#0d192b; //main bg
$vd-blue-2:#14253d; //card bg
$vd-blue-3:#2f415b; //line
$white:#ffffff;
//fonts
$font-outfit:'Outfit',
sans-serif;